
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');


:root {

--color-tema : rgb(216, 23, 255);
--color-tema-claro: rgb(253, 218, 250);
--color-tema-texto: rgb(134, 0, 123);

}

body {

    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--color-tema-texto);
}


h1, h2, h3, h4, h5 , h6 
{
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--color-tema-texto);

}


.book-cover-holder .book-badge {

    background: var(--color-tema);
}

.benefits-section .item-icon {

    color: var(--color-tema-texto);
}
