* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pixeles {
  background: rgb(245, 232, 191);
  margin: 32px;
  padding: 32px;
  font-size: 32px;
}

.todoem {
  background: rgb(245, 232, 191);

  font-size: 2em; /*Este es el tamaño del texto a parir del cual se calculan los siguientes em */
  margin: 1em;
  padding: 1em;
}

.rem-em {
  background: rgb(245, 232, 191);

  font-size: 2rem; /*Este es el tamaño del texto a parir del cual se calculan los siguientes em */
  margin: 1em;
  padding: 1em;
}




