* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  

  img {
      margin: 0 auto;
  }

  .center {
      text-align: center;
  }

  .box {

    width: 50%;
    background: coral;
    margin: 0 auto;

  }